.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  .homebutton {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4a38ce;
    color: white;
  }
  
  button:hover {
    opacity: 0.8;
  }
  